01_Masterarbeit.bib
Main-blx.bib
Main.aux
Main.bbl
Main.bcf
Main.blg
Main.lof
Main.log
Main.lot
Main.out
Main.pdf
Main.run.xml
Main.synctex.gz
Main.tdo
Main.tex.bbl
Main.tex.bcf
Main.tex.blg
Main.toc
Main.acn
Main.ist
indent.log
*.aux
*.json
.vscode/settings.json
/figures/*