01_Masterarbeit.bib
SottmannBosse_Masterthesis-blx.bib
SottmannBosse_Masterthesis.aux
SottmannBosse_Masterthesis.bbl
SottmannBosse_Masterthesis.bcf
SottmannBosse_Masterthesis.blg
SottmannBosse_Masterthesis.lof
SottmannBosse_Masterthesis.log
SottmannBosse_Masterthesis.lot
SottmannBosse_Masterthesis.out
SottmannBosse_Masterthesis.pdf
SottmannBosse_Masterthesis.run.xml
SottmannBosse_Masterthesis.synctex.gz
SottmannBosse_Masterthesis.tdo
SottmannBosse_Masterthesis.tex.bbl
SottmannBosse_Masterthesis.tex.bcf
SottmannBosse_Masterthesis.tex.blg
SottmannBosse_Masterthesis.toc
indent.log