01_Masterarbeit.bib
main-blx.bib
main.aux
main.bbl
main.bcf
main.blg
main.lof
main.log
main.lot
main.out
main.pdf
main.run.xml
main.synctex.gz
main.tdo
main.tex.bbl
main.tex.bcf
main.tex.blg
main.toc
main.acn
main.ist
indent.log
*.aux
*.json
.vscode/settings.json
/figures/*